.box {
	height:50px;
	border-radius:5px;	
color:white;	
}

.green{
	background-color:green;
	
}
.black{
	background-color:black;
	
}
.red{
	background-color:red;
	
}
.blue{
	background-color:blue;
	
}